name: CI - Run Tests

on: push

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: "24.7.0"

      - name: Run setup
        run: make setup

      - name: Run tests
        run: make tests
